<ion-view cache-view="false" view-title="Tareas">
    <ion-content>
        <ion-refresher
            pulling-text="Recargar..."
            on-refresh="reLoad()">
        </ion-refresher>
        <ion-list>
            <ion-item class="item-remove-animate item-icon-left item-icon-right" ng-repeat="task in tasks" ng-show="filterTasks(task)" type="item-text-wrap" href="#/task/show/{{task.id}}">
                <i class="icon ion-clock" ng-show="task.state == 'pla'"></i>
                <i class="icon ion-play" ng-show="task.state == 'des'"></i>
                <i class="icon ion-pause" ng-show="task.state == 'pau'"></i>
                <i class="icon ion-stop" ng-show="task.state == 'ter'"></i>
                {{task.name}} - {{task.dpercentage}}%
                <span class="item-note">
                    {{ task.timeleftstr}}
                </span>
                <p>
                    {{task.type}}<br>
                    <small>{{task.proyect}} - {{task.payment}}</small>
                </p>
                <i class="icon ion-ios-heart" ng-show="isFav(task)" ></i>
                <ion-option-button ng-show="!isFav(task)" ng-click="fav(task)" class="button-royal icon-left ion-ios-heart">
                    Favorito
                </ion-option-button>
                <ion-option-button ng-show="isFav(task)" ng-click="unFav(task)" class="button-assertive icon-left ion-ios-heart-outline">
                    No Fav
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar align-title="center" class="bar-stable">
        <div class="title list" style="padding:5px 5px;">
            <div class='item-input-inset' style="padding:0px 5px;">
                <label class="item item-input-wrapper" style="padding:0px 5px;">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                    <input type="search" placeholder="Filtrar" ng-model="search.filter">
                </label>
                <button class=" animate-show button button-clear" ng-show="search.filter != ''" ng-click="clearFilter()">
                    X
                </button>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>