<ion-view view-title="Crear comentario">
    <!--form ng-submit="createComment()"-->
        <ion-content class="padding">
            <input type='hidden' ng-model="commentData.user_id" value="{{user.id}}"/>
            <input type='hidden' ng-model="commentData.task_id" value="{{task.task.id}}"/>
            <input type='text' ng-model="commentData.image" value="{{commentData.image }}"/>
            <div class="list list-inset">
                <label class="item item-input item-select">
                    <div class="input-label">
                        Tipo
                    </div>
                    <select ng-model="commentData.commenttype">
                        <option ng-repeat="tipo in task.commenttypes" value="{{ tipo.id}}">
                            {{ tipo.name}}
                        </option>
                    </select>
                </label>
                <label class="item item-toogle">
                    Público
                    <label class="toggle toggle-assertive">
                        <input type="checkbox" name="public" ng-model="commentData.public">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Comentario</span>
                    <text-angular name="comment" ng-model="commentData.comment">
                    </text-angular>
                </label>
                <label class="item item-input">
                    <span class="input-label">Enlace</span>
                    <input type="text" name="url" ng-model="commentData.url" placeholder="Enlace a youtube">
                </label>
                <label class="item">
                        <button class="button button-block button-positive" ng-click="getImage()">Seleccionar Imagen</button>
                </label>
                <label class="item">
                        <button class="button button-block button-assertive" ng-click="getCamera()">Tomar foto</button>
                </label>
                <label class="item">
                    <img ng-src="{{pictureTaken}}" style="width:100%; height: auto;"/>
                </label>
                <label class="item">
                    <progress ng-hide="download.progress==100 || download.progress==0;" max="100" value="{{progresoCarga}}"></progress>
                </label>
                <label class="item">
                    <button class="button button-full button-balanced" ng-click="createComment()">Crear comentario</button>
                </label>
            </div>
        </ion-content>
    
    
</ion-view>