<ion-view cache-view="false" view-title="Comentarios de {{ task.name}} ">
    <ion-content>
        <ion-refresher
            pulling-text="Recargar..."
            on-refresh="reLoad()">
        </ion-refresher>

        <ion-list>
            <ion-item class="item-remove-animate item-thumbnail-left" ng-repeat="comment in comments" type="item-text-wrap" href="#/task/comment/{{comment.id}}">
                <img src="{{ comment.thumb}}" ng-show="comment.thumb != ''"/>
                <h2>{{comment.typestr}} - <span ng-show="comment.public == true">Público</span><span ng-show="comment.public == false">Privado</span></h2>
                <span class="item-note">
                    {{comment.user}}<br/>{{ comment.date}}
                </span>
                <p>
                    {{comment.comment}}
                    <br>
                    <small>{{comment.url}}</small>
                </p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>